{% extends "base.html" %}
{% block content %}
    <p><a href = "{% url 'app1:chapter_list' %}">Home</a> > <a href="{% url 'app1:section_list' answer.problem.problem_group.section.chapter.id %}">{{answer.problem.problem_group.section.chapter.subject.name}} 第{{answer.problem.problem_group.section.chapter.number}}章 {{ answer.problem.problem_group.section.chapter.name }}</a> > <a href="{% url 'app1:problem_group_list' answer.problem.problem_group.section.id %}"> §{{answer.problem.problem_group.section.number}} {{answer.problem.problem_group.section.name}}</a> > <a href="{% url 'app1:problem_list' answer.problem.problem_group.id %}">{{answer.problem.problem_group.name}}（{{answer.problem.problem_group.problems.all|length}}題）</a> > <a href="{% url 'app1:problem_show' answer.problem.id %}">{{answer.problem.name}}</a> > <a href="{% url 'app1:answer_list' answer.problem.id %}">勉強記録一覧</a> > <a href="{% url 'app1:answer_show' answer.id %}">{{answer.solve_plan_date|date:"Y年m月d日"}}</a></p>
    <h2>コメント新規登録ページ</h2>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>範囲</td>
                <td>{{answer.problem.problem_group.section.chapter.subject.name}} §{{answer.problem.problem_group.section.number}} {{answer.problem.problem_group.section.name}}</td>
            </tr>
            <tr>
                <td>問題名</td>
                <td>{{answer.problem.name}}</td>
            </tr>
            <tr>
                <td>詳細</td>
                <td>{{answer.problem.problem_group.title}}</td>
            </tr>
            <tr>
                <td>解答予定日</td>
                <td>{{answer.solve_plan_date|date:"Y/m/d H:i"}}</td>
            </tr>
            <tr>
                <td>解答日</td>
                <td>
                    {% if answer.solve_date != None %}
                       {{answer.solve_date|date:"Y/m/d H:i"}}
                    {% else %}
                        ー
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>解答状況</td>
                <td>
                    {{answer.correct_situation.situation}}
                </td>
            </tr>
            <tr>
                <td>解答時間</td>
                <td>
                     {% if answer.actual_time != 0 and answer.actual_time != None %}
                        {{answer.actual_time}}分
                    {% else %}
                        ー
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <form method="post" actioon="{% url 'app1:simple_comment_register' answer.id %}">
        <div class="form-group">
            <label>{{form.comment.label}}</label>
            <textarea name="{{form.comment.name}}" class="form-control {% if form.comment.errors %} is-invalid {% endif %}">{% if form.comment.value != None %}{{form.comment.value}}{% endif %}</textarea>
            {% if form.comment.errors %}
                <div class="invalid-feedback">
                    {{form.comment.errors.0}}
                </div>
            {% endif %}
        </div>
        <button class="btn btn-primary" type="submit">登録</button>
   　
       　{% csrf_token %}
    </form>
   
{% endblock %}

