{% extends "base.html" %}
{% block content %}
    <p><a href = "{% url 'app1:chapter_list' %}">章一覧</a> > <a href="{% url 'app1:section_list' problem_group.section.chapter.id %}">{{problem_group.section.chapter.subject.name}} 第{{problem_group.section.chapter.number}}章 {{ problem_group.section.chapter.name }}</a> > <a href="{% url 'app1:problem_group_list' problem_group.section.id %}"> §{{problem_group.section.number}} {{problem_group.section.name}}</a> > {{problem_group.name}}（{{problem_group.problems.all|length}}題）</p>
    <table class="table table-striped">
        <tbody>
            {% for problem in problems %}
                <tr>
                    <td>{{ problem.name }}</td>
                    <td><a href="{% url 'app1:problem_show' problem.id %}">詳細を見る</a></td>
                </tr>
            {% endfor %}
        
        </tbody>
    </table>
{% endblock %}
    


