{% extends "base.html" %}
{% block content %}
    <p><a href = "{% url 'app1:chapter_list' %}">Home</a> > <a href="{% url 'app1:section_list' problem.problem_group.section.chapter.id %}">{{problem.problem_group.section.chapter.subject.name}} 第{{problem.problem_group.section.chapter.number}}章 {{ problem.problem_group.section.chapter.name }}</a> > <a href="{% url 'app1:problem_group_list' problem.problem_group.section.id %}"> §{{problem.problem_group.section.number}} {{problem.problem_group.section.name}}</a> > <a href="{% url 'app1:problem_list' problem.problem_group.id %}">{{problem.problem_group.name}}（{{problem.problem_group.problems.all|length}}題）</a> > <a href="{% url 'app1:problem_show' problem.id %}">{{problem.name}}</a> > 勉強記録一覧</p>
    <h2>{{problem.name}}の勉強記録一覧</h2><br>
    <p><a href="{% url 'app1:answer_register' problem.id %}">勉強記録を新規登録する</a></p>
    {% if answers|length != 0 %}
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>解答予定日</th>
                <th>解答日</th>
                <th>解答状況</th>
            </tr>
            {% for answer in answers %}
                <tr data-href="{% url 'app1:answer_show' answer.id %}" >
                    <td>{{answer.solve_plan_date|date:"Y/m/d H:i"}}</td>
                    <td>{{answer.solve_date|date:"Y/m/d H:i"}}</td>
                    <td>
                        {% if answer.correct_situation.id == 2 %}
                            <i class="far fa-circle maru" style="color: green;"></i>
                        {% elif answer.correct_situation.id == 3 %}
                            <i class="fas fa-times" style="color: red;"></i>
                        {% else %}
                            {{answer.correct_situation.situation}}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        まだ勉強記録はありません
    {% endif %}
    <script>
        $('tr[data-href]').addClass('clickable')
          .click(function (e) {
            if (!$(e.target).is('a')) {
              window.location = $(e.target).closest('tr').data('href');
            };
        });
    </script>
{% endblock %}
  