{% extends "base.html" %}
{% block content %}

    <p><a href = "{% url 'app1:chapter_list' %}">章一覧</a> > <a href="{% url 'app1:section_list' problem.problem_group.section.chapter.id %}">{{problem.problem_group.section.chapter.subject.name}} 第{{problem.problem_group.section.chapter.number}}章 {{ problem.problem_group.section.chapter.name }}</a> > <a href="{% url 'app1:problem_group_list' problem.problem_group.section.id %}"> §{{problem.problem_group.section.number}} {{problem.problem_group.section.name}}</a> > <a href="{% url 'app1:problem_list' problem.problem_group.id %}">{{problem.problem_group.name}}{{problem_group.name}}（{{problem.problem_group.problems.all|length}}題）</a> > <a href="{% url 'app1:problem_show' problem.id %}">{{problem.name}}</a> > <a href="{% url 'app1:answer_list' problem.id %}">勉強記録一覧</a> </p>
    <h2>勉強記録新規作成ページ</h2><br>
    <form enctype="multipart/form-data" method="post" action="{% url 'app1:answer_register' problem.id %}"　>
        
        {% for item in form %}
            <div class="form-group">
                <label>{{item.field.label}}</label>
                {% if forloop.counter0 != 3 and forloop.counter0 != 4 and forloop.counter0 != 5%}
                    <input name="{{item.name}}" type="{{item.field.widget.input_type}}" class="form-control {% if item.errors %} is-invalid {% endif %}" value="{% if item.value != None %}{{item.value}}{% endif %}">
                    {% if item.errors %}
                        <div class="invalid-feedback">
                           {{item.errors.0}}
                       </div>
                    {% endif %}
                {% elif forloop.counter0 == 3 %}
                    {{form.correct_situation}}
                {% elif forloop.counter0 == 5 %}
                    <textarea name="{{item.name}}" class="form-control {% if item.errors %} is-invalid {% endif %}">{% if item.value != None %}{{item.value}}{% endif %}</textarea>
                     {% if item.errors %}
                        <div class="invalid-feedback">
                           {{item.errors.0}}
                       </div>
                    {% endif %}
                {% else %}
                    <div class="custom-file">
                       <input type="file" class="custom-file-input" id="custom-file-1" name="{{item.name}}" accept="image/jpeg, image/png" value="{% if item.value != None %}{{item.value}}{% endif %}">
                       <label class="custom-file-label" for="custom-file-1" id="filename">ここに写真を登録してください</label>
                     </div>   
                {% endif %}
            </div>
        {% endfor %}
        
       
        <p>未克服原因タグ</p>
            {{with_for_previous_cause_tag_formset.management_form}}
        <div>
            {% if with_for_previous_cause_tag_formset|length == 0 %}
                未克服原因タグはまだありません
            {% else %}
                
                {% for with_for_previous_cause_tag_form in with_for_previous_cause_tag_formset %}
                    
                    <div>
                        {% with latest_with=latest_withes.pop %}
                            <div class="form-group">
                                <input type="text" value="{{latest_with.cause_tag.content}}" class="form-control" readonly>
                            </div>
                            <div class="form-group">
                                <input type="text" value="{{latest_with.cause_tag.cause_type.name}}" class="form-control" readonly>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="id_form-{{forloop.counter0}}-overcome_flag" name="form-{{forloop.counter0}}-overcome_flag">
                                <label class="form-check-label" for="check1a">克服したか</label>
                            </div>
                            
                        <hr>
                        
                        {% endwith %}
                        
                    </div>
                   
                {% endfor %}
            {% endif %}
        </div>
  
        <hr>
        <p>新規原因タグ</p>
        <div>
            {{formset.management_form}}
            <span id="new"></span>
        </div>
        <div id="cause_tag_area">
            {% for cause_tag in formset %}
                <div id="cause_tag_form-{{forloop.counter0}}">
                    {{cause_tag.as_p}}
                  
                </div>
                <hr>
            {% endfor %}
        </div>
    
         <div class="text-right">
                            <button class="btn btn-primary add" id="add" type="button">原因タグの追加</button>
                            <button class="btn btn-primary add" id="del" type="button">削除</button>
        </div>
        
        <button class="btn btn-primary" type="submit">登録</button>
       　
       　{% csrf_token %}
    </form>
    <script>
        $(document).on('change', ':file', function() {
            var input = $(this);
            file_name = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            label = document.getElementById('filename')
            label.innerHTML = file_name
            var input = $('#custom-file-1')
            
            
        });
   
    
    $(function() {
        var totalCauseTagElement = $('#new').parent().find('input#id_form-TOTAL_FORMS');
        var currentCauseTagCount = parseInt(totalCauseTagElement.val());
        console.log(currentCauseTagCount);
        
        $('button#add').on('click', function() {
        
      
            var latestIndex = currentCauseTagCount - 1;
            console.log(latestIndex)
            var latestCauseTagInput = $(`#cause_tag_form-${latestIndex}`)
            var causeTagInput = latestCauseTagInput.clone(true)
            causeTagInput.prop('id', `cause_tag_form-${currentCauseTagCount}`)
            $('div#cause_tag_area').append(causeTagInput);
            
            $(`div#cause_tag_form-${currentCauseTagCount}`).find(`#id_form-${latestIndex}-content`).val('');
            $(`div#cause_tag_form-${currentCauseTagCount}`).find(`#id_form-${latestIndex}-content`).attr({
                                                                                                        'id': `id_form-${currentCauseTagCount}-content`,
                                                                                                        'name': `form-${currentCauseTagCount}-content`
                                                                                                
                                                                                                        });
                                                                                                        
                                                                         
            $(`div#cause_tag_form-${currentCauseTagCount}`).find(`#id_form-${latestIndex}-cause_type`).attr({
                                                                                                        'id': `id_form-${currentCauseTagCount}-cause_type`,
                                                                                                        'name': `form-${currentCauseTagCount}-cause_type`
                                                                                                        });                               
                                                                                                        
            currentCauseTagCount += 1;
            totalCauseTagElement.attr('value', currentCauseTagCount);
          
            
        });
        
         $('button#del').on('click', function() {
         
             if (currentCauseTagCount != 1) {
                 var latestIndex = currentCauseTagCount - 1;
                 $(`#cause_tag_form-${latestIndex}`).remove();
                 currentCauseTagCount -= 1;
                 totalCauseTagElement.attr('value', currentCauseTagCount);
            }
         
         });
    
    });
     </script>
{% endblock %}


