{% extends "base.html" %}
{% block content %}
      <p><a href = "{% url 'app1:chapter_list' %}">Home</a> > <a href="{% url 'app1:section_list' section.chapter.id %}">{{section.chapter.subject.name}} 第{{section.chapter.number}}章 {{ section.chapter.name }}</a> > §{{section.number}} {{problem_groups.0.section.name}}</p>
        <table class="table table-striped">
            <tbody>
                {% for problem_group in problem_groups %}
                    <tr>
                        <td>p.{{problem_group.page}}</td>
                        <td>{{ problem_group.name }}（{{problem_group.problems.all|length}}題）</td>
                        <td><a href="{% url 'app1:problem_list' problem_group.id %}">問題一覧</a></td>
                    </tr>
                {% endfor %}
        
            </tbody>
        </table>
{% endblock %}