{% extends "base.html" %}
{% block content %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <ul> 
            {% for non_field_error in form.non_field_errors %}
                <li>{{non_field_error}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    <br>
    <form method="post" action="{% url 'app1:siteUser_register' %}">
        {% for item in form %}
            {% if forloop.counter0 != 2 %}
                <div class="form-group">
                    <label>{{item.field.label}}</label>
                    <input 
                        type="{{item.field.widget.input_type}}"
                        class="form-control {% if item.errors %} is-invalid {% endif %}"
                        name="{{item.name}}"
                        value="{% if item.value != Nonw%}{{item.value}}{% endif %}"
                   >
                  {% if item.errors %}
                      <div class="invalid-feedback">
                          {{item.errors.0}}
                      </div>
                  {% endif %}
                </div>
            {% else %}
                <div class="form-group form-check">
                    {{item}}
                    <label class="form-check-label">先生としてログインする</label>
                </div>
            {% endif %}
        {% endfor %}
        <button class="btn btn-primary" type="submit">登録</button>
        {% csrf_token %}
    
    </form>
{% endblock %}
